.body{
    background-color:aliceblue;
    text-align: center;    
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(217, 205, 255, 0.351);
    padding: 30px;
    border-radius: 50px;
    padding-bottom: 20px;
}

.header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 400px;
    /* background-color: blue; */
    padding: 5px;
    border-radius: 5px;
    /* border: 20px solid white;*/
    /* margin: 30px; */
    /* gap: 30px; */
}
.header li{
    background-color: chocolate;
    padding: 7px;
    height: 30px;
    border-radius: 20px;
    border: 5px solid black
}
.logo{
    width: 150px;
    height: 100px;
    /* aspect-radius: 1; */
    border-radius: 60px;
    border: 1px solid rgba(0, 0, 0, 0.515)
}
.hero {
    font-size: xx-large;
    text-align: center;
    color: rgba(42, 165, 75, 0.872);

}
.main {
    display: grid;
    padding-top: 30px;
    color: azure;
    grid-template-columns: auto auto auto;
    background-color: grey;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    border-radius: 70px;
    gap: 20px;
    margin: 40px;
    
}
.main img {
    height: 250px;
    width: 250px;
}
section{
    text-align: center;
    font-size: 30px;
    background-color: goldenrod
    padding: 10px; 
    margin: 20px;
    border-radius:20px;

}